@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEE;
}

.fullScreen {
  background-image: url(../public/images/bmw.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background: linear-gradient(90deg, rgba(0, 21, 205, 0.70) 31.64%, rgba(255, 255, 255, 0.26) 95.56%), url(../public/images/bmw.png), lightgray 0px -138.422px / 100% 128.433% no-repeat; */
}

.custom-video {
  width: 100%;
  height: 180px; 
  border-radius: 8px;
  background-color: white;
}

.videoslider {
  background: linear-gradient(90deg, rgba(0, 21, 205, 0.70) 31.64%, rgba(255, 255, 255, 0.26) 95.56%), lightgray 0px -138.422px / 100% 128.433% no-repeat;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-left: 20px solid #D9D9D9;
}

.custom-width {
  width: calc(100vw - 290px);
}

.product-image {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .product-image {
    width: calc(100% - 170px);
}

}



@font-face {
  font-family: dejavucaps;
  src: url(../styles/fonts/HelveticaNeueLTGEO-75Bold.ttf);
  
}

@font-face {
  font-family: dejavu;
  src: url(../styles/fonts/HelveticaNeueLTGEO-55Roman.ttf);
}

h1,
h2,
h3,
h4,
h5
{
  font-family: dejavucaps;
  font-feature-settings: "case" on;
}

h6 {
  font-family: dejavu;
  font-feature-settings: "case" on;
}


@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #0f8960;
  opacity: 1;
  background: #fff;
}

.mySwiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #022FB0;
}

.swiper-pagination-fraction .swiper-pagination-custom .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullets .swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 80px);
}