@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEE;
}

.fullScreen {
  background-image: url(../public/images/bmw.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background: linear-gradient(90deg, rgba(0, 21, 205, 0.70) 31.64%, rgba(255, 255, 255, 0.26) 95.56%), url(../public/images/bmw.png), lightgray 0px -138.422px / 100% 128.433% no-repeat; */
}

